* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: color, background-color 0.3s;
}

:root {
  --blue-600:  #001859;
  --blue-400:  #00216c;
  --cian-200:  #00bef2;
  --gray-400:  #b3b3b5;
  --gray-600:  #7E8C8D;
  --gray-800:  #202124;
  --white-200: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  position: relative;
}

a {
  font-size: 1.1rem;
  text-decoration: none;
  transition: translateY, 0.5s;
}

form > button {
  margin-top: 2rem;
} 

.dashboard-header a:hover,
.dashboard-heading a:hover,
.news-dashboard a:hover{
  filter: brightness(0.5);
  transform: translateY(-2px);
}

i {
  font-size: 2.5rem;
  cursor: pointer;
}

img {
  border: none;
  max-width: 100%;
}


.main-nav {
  height: 200px;

  display: flex;
  flex-wrap: wrap;
}

.logo-area,
.search-area {
  flex: 1;
  min-width: 300px;
  padding: 0 2rem;
}

.logo-wrapper,
.search-wrapper {
  width: 100%;
  max-width: 525px;
  position: relative;
}

.logo-area {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: var(--blue-600);
}

.search-area {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--blue-400);
}

.search-area input {
  width: 100%;
  max-width: 540px;
  height: 60px;

  font-size: 1.2rem;
  color: #fff;

  background: none;
  border-radius: 0.5rem;
  border: 2px solid var(--cian-200);

  padding-left: 1rem;
}

.search-area .search-icon {
  font-size: 1.5rem;
  color: #fff;

  position: absolute;
  right: 16px;
  bottom: 14px;
  cursor: pointer;
}

.search-icon i {
  font-size: 1.5rem;
}

.pre-nav {
  background: #fff;
  color: var(--blue-600);
}

.pre-nav-wrapper {
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-nav-wrapper .links {
  display: flex;
  gap: 0.5rem;
}

.pre-nav-wrapper .links .link {
  font-size: 1rem;
  font-weight: 900;
  color: var(--blue-400);
  text-decoration: none;

  padding-right: 0.5rem;
  border-right: 3px solid var(--cian-200);
  text-transform: uppercase;
}

.pos-nav {
  background: var(--cian-200);
  color: #fff;
}

.pos-nav-wrapper {
  text-transform: uppercase;

  width: 100%;
  max-width: 1150px;
  height: 60px;

  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pos-nav-wrapper .hamb-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 30px;

  cursor: pointer;
}

.pos-nav-wrapper .hamb-line {
  width: 100%;
  height: 2.5px;
  border-radius: 0.5rem;
  background: #fff;
}

.acessibility-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hamb-button:hover .hamb-line {
  background-color: var(--blue-600);
  cursor: pointer;
}

.pos-nav-wrapper i:hover,
span:hover {
  filter: brightness(0.75);
}

.acessibility-wrapper .font-size-adjust {
  font-size: 0.95rem;

  display: flex;
  gap: 1rem;

  padding-right: 1rem;
  border-right: 3px solid var(--white-200);
}

.font-size-adjust span {
  font-weight: bold;
  cursor: pointer;
}

#main-container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 2rem;
}

#main-container section {
  margin: 2rem 0;
}

.section-heading {
  width: 100%;
  margin-bottom: 2rem;
}

.section-description {
  font-size: 1.2rem;
  line-height: 0rem;
  color: var(--blue-400);
}

.dashboard-heading.spacing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.section-heading .section-title {
  font-family: "Titillium Web", sans-serif;
  display: inline-block;

  font-size: 2.5rem;

  font-weight: 900;
  color: var(--blue-600);

  text-transform: uppercase;

  position: relative;
}

.section-heading .section-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 4px;
  background: var(--cian-200);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  height: fit-content;
  gap: 1rem;
}

.service-card {
  width: 100%;
  max-width: 260px;
  height: 240px;
  cursor: pointer;
  overflow: hidden;
}

.service-link img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.service-card:hover img {
  transform: scale(1.1);
}

.news .section-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.news .news-card-link {
  width: 100%;
  flex: 1;
}

.news .news-card {
  width: 100%;
  height: 480px;
  max-width: 520px;

  display: flex;
  flex-direction: column;

  background: var(--white-200);

  border-radius: 1rem;

  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.25);
}


.news-details,
.news-image {
  flex: 1;
}

.news-image {
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.news-image img {
  object-fit: cover;
  width: 100%;
  height: 280px;

  transition: all 1s;
}

.news-image img:hover {
  transform: scale(1.1);
}

.news-details {
  font-family: "Titillium Web", sans-serif;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.news-details span {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--cian-200);
}

.news-details h3 {
  font-size: 2rem;
  font-weight: 900;
  color: var(--blue-600);
}

.news-details p {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--blue-400);
  line-break: anywhere;
}

.regular-link {
  color: var(--blue-400);
  cursor: pointer;
  margin-left: auto;
}

.regular-link:hover {
  filter: brightness(0.5);
}

/* Partners */

.swiper {
  width: 100%;
  height: 120px;
}

.swiper-slide img {
  width: 150px;
}

/*socials*/

.social-media {
  width: 100%;
  height: 80px;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  background: var(--white-200);
}

.social-media-wrapper {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.social-media-wrapper i {
  font-size: 2.5rem;
  color: var(--blue-600);
}

.contacts {
  width: 100%;
  height: 120px;

  display: flex;
  justify-content: center;
  background: var(--blue-400);

  padding: 0 2rem;
}

.contacts-wrapper {
  width: 100%;
  max-width: 1150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-box {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contact-box .phone-icon-wrapper {
  display: flex;
  align-items: center;
}

.contact-box .phone-icon-wrapper i {
  font-size: 1.1rem;
  color: var(--white-200);
}

.contact-box .details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.contact-box .details .tel-number {
  font-weight: 900;
  color: var(--cian-200);
}

.contact-box .details .tel-name {
  font-weight: 400;
  color: var(--white-200);
}

.address {
  width: 100%;
  height: 180px;
  background: var(--blue-600);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 2rem;
}

.address-section-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
}

.address-section-wrapper .info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.address-section-wrapper .info .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.address-section-wrapper .info h2 {
  color: var(--cian-200);
}

.address-section-wrapper .info h3 {
  color: var(--white-200);
}

.address-section-wrapper .info i {
  font-size: 1.25rem;
  color: var(--white-200);
}

.address-section-wrapper .logos img {
  width: 100%;
  max-width: 140px;
}

.mobile-menu {
  transform: translateX(-9999px);

  position: fixed;
  top: 0;

  width: 100%;
  max-width: 320px;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #fff;

  z-index: 5000;

  box-shadow: 1px 10px 40px rgba(0, 0, 0, 0.45);

  transition: all 0.2s;
}

.mobile-menu.show {
  transform: translateX(0px);
}

.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.close-menu-button {
  display: flex;
  align-items: center;

  position: absolute;
  top: 2rem;
  right: 2rem;
}

.close-menu-button i {
  font-size: 1.8rem;
  color: var(--blue-600);
}

.mobile-menu .links {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.mobile-menu .links .link {
  font-size: 1.8rem;
  color: var(--blue-600);
}

.overlay {
  display: none;
  z-index: 4000;
  inset: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
}

.overlay.show {
  display: block;
}

.news.news-page .section-body{
  flex-direction: column;
}

.news.news-page .section-body .news-card {
  width: 100%;
  max-width: 100%;
  height: 300px;

  flex-direction: row;
  border-radius: 0;
}

.news.news-page .section-body .news-card .news-image {
  display: flex;
  flex: 1;
  align-items: center;

  border-radius: 0;
}

.news.news-page .section-body .news-card .news-image img {
  height: 300px;
}

/* single news-page */

.single-news-page {
  display: flex;
  align-items: center;

}

.single-news-page .section-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.single-news-page .section-body .banner-container{
  max-height: 450px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.single-news-page .section-body .banner-container img{
  width: 100%;
}

.single-news-page .section-heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.single-news-page .section-heading h1{
  width: fit-content;
}

.single-news-page .section-heading span {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--cian-200);
}

.single-news-page .news-content {
  font-size: 1.25rem;
  line-break: anywhere;
}

/* create news */

.news-form {
  min-height: calc(100vh - 100px);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 5px 10px 25px 1px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  padding: 2rem;
}

.news-form form {
  width: 100%;
  max-width: 1250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}


.news-form .input-control {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.news-form .input-control label {
  margin-bottom: 1rem;
  color: #202124;
}

.news-form .input-control input, textarea {
  height: 2.5rem;
  padding-left: 0.5rem;
  outline: none;
  width: 100%;

  border: 0;
  border-bottom: 1px solid #b3b3b5;


  font-size: 1.1rem;
  color: var(--gray-600);
}

.news-form .input-control #banner-input-file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.image-input-preview {
  width: 100%;
  height: 100%;
  max-width: 400px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.news-form .input-control.drop-zone {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 300px;
  border: 1px dashed #b3b3b5;

  cursor: pointer;
  position: relative;

  margin-top: 1rem;
  padding: 1rem;

  transition: border 0.5s;
}

.news-form .input-control.drop-zone label {
  margin: 0;
}


.news-form .input-control{
  font-size: 1.2rem;
}

.news-form button {
  font-size: 1.2rem;
  color: var(--white-200);

  justify-self: center;

  width: 50%;
  height: 3rem;

  background: var(--blue-400);
  
  cursor: pointer;

  border-radius: 0.5rem;
  border: 0;
}

.news-form button:hover{
  filter: brightness(0.75);
}

/* dashboard-template */

.dashboard-header {
  background: none;
  height: 100px;
  padding: 0 2rem;

  border-bottom: 1px solid var(--gray-400);
}



.dashboard-header nav {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1150px;
  margin: 0 auto;
}

.dashboard-header nav img {
  width: 100%;
  max-width: 80px;
}

.dashboard-header nav .options {
  display: flex;
  gap: 1rem;

  font-size: 1.2rem;
}

.options a{
  color: var(--gray-600);
}

.options a:hover {
  filter: brightness(0.75);
}

.dashboard-heading h1{
  font-family: "Titillium Web", sans-serif;
  display: inline-block;

  font-size: 2.5rem;

  font-weight: 900;
  color: var(--gray-800);

  text-transform: uppercase;

  position: relative;
}

.dashboard-heading a{
  color: var(--gray-600);
}

/* news-dashboard */

.news-dashboard{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.news-dashboard .dashboard-heading{ 
  display: flex;
  justify-content: space-between;
}

.news-dashboard .dashboard-heading i {
  font-size: 1rem;
  margin-left: 1rem;
}

.news-dashboard .news-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom:  1px solid var(--gray-800);
}

.news-dashboard .news-row + .news-row  {
  margin: 1rem 0rem;
}

.news-dashboard .news-row-options {
  display: flex;
  gap: 0.5rem;
}

.news-row a {
  color: var(--gray-800);
}


.news-row-heading a{
  font-size: 1.5rem;
  color: var(--gray-800);
}

p.advice {
  color: var(--gray-400);
  font-size: 2rem;
  min-height: 10vh;
  display: flex;
  align-items: center;
}

p.advice > span {
  cursor: pointer;
}

.logout-link {
  color: indianred !important;
  margin: 0 2rem;
}
